body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #0c0c12;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
    margin: 0px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
  max-width: 600px;       
  margin: 0 auto;
  padding: 0 20px;       
}

@media only screen and (min-width: 768px) {
  .container {  
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
  }
}


/* --- HEADER --- */
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #0b0b10;
}

@media only screen and (min-width: 1200px) {
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 190px;
    background: #0b0b10;
  }
}

.logo {
    font-size: 14px;         
    font-weight: 400;        
    color: #ffffff;
    letter-spacing: 1.5px;    
    cursor: pointer;
  }

@media only screen and (min-width: 768px) {
.logo {
    font-size: 16px;         
    font-weight: 700;        
    color: #ffffff;
    letter-spacing: 1.5px;    
    cursor: pointer;
  }
}

.nav-list {
    display: flex;
    gap: 15px;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {
    .nav-list {
      gap: 25px;
}
}


nav a {
    color: #ffffff;
    transition: color 0.2s ease;
}

nav a:hover {
    color: aqua;
}

/* --- HERO --- */
h1 {
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
  h1 {
      font-size: 40px;
      font-weight: 1000;
  }
}

.hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.34) ),
      url(../images/background_image.jpeg);
      background-size: cover;
      background-position: center;
      margin: 0 auto;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.hero-content {
    text-align: left;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width: 768px) {
.hero-content {
    padding: 80px 120px;
    gap: 30px;
  }
}

p span { 
    color: aqua;
 }

.btn-primary {
    background: #ffda4f;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase; 
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px 3px rgba(241, 241, 72, 0.5); 
    margin-right: auto;
    margin-left: 0;
}

.btn-primary:hover {
    background: #f0c52a;
    box-shadow: 0 0 20px 6px rgba(241, 241, 72, 0.9); 

}

/* --- TABLE --- */
table {
    width: 100%;
    margin: 20px auto;
    background: #15151f;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    table {
    width: 100%;
    margin: 40px auto;
    background: #15151f;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 100px;
  }
}

table td {
    padding: 15px;
    border-bottom: 1px solid rgb(55, 54, 54);
    font-size: 14px;
}

table tr:last-child td {
    border-bottom: none; 
}

table th { 
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid rgb(55, 54, 54);
    background-color: #1c1c26;
}

h3 {
    font-size: 22px;
    font-weight: 800;
}

.subtitle {
    color: #c1bfbf;
}

.ticket-btn {
    background: #e53950;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
}
.ticket-btn:hover {
    background: #ff5a6b;
}

/* --- MEMBERS --- */
h2 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
}
.members {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 40px;
    margin-bottom: 40px;
}
.member-card {
    background: #1c1c26;       
    border: 1px solid rgb(55, 54, 54);    
    border-radius: 12px;       
    overflow: hidden;          
    text-align: left;       
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 0;
}

.member-card img {
    height: 200px;
    object-fit: cover;
    width: 260px;
}

.member-card p {
    color: #afadad;
    font-size: 16px;
    font-weight: 400;
    background-color: #1c1c26;
    padding: 12px;
}
.member-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.story {
    background: linear-gradient(to left, #3f042352, #31252470, #131824 );
    padding: 50px 0;
}

.story-title {
    text-align: left;
    margin-top: 20px;
    font-size: 28px;
}

.story p {
    margin-bottom: 20px;
}

.story-img {
    float: right;      
    width: 40%;          
    margin-bottom: 30px;
    height: 37vh;
}

@media (max-width: 768px) {
    .story-img {
      float: none;
      width: 100%;
      margin: 20px 0;
    }
}

.contacts {
    background: linear-gradient(to right, #5f073452, #48343370, #131824 );
    padding-bottom: 50px;
}

.contacts-title {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

.contacts-text {
    text-align: center;
    margin-bottom: 30px;
    color: #afadad;
}

.contact-container {
    display: flex;
    gap: 40px; 
    align-items: flex-start;
    flex-wrap: wrap; 
}

#contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
   display: flex;
   gap: 15px;
}

.form-row input {
    flex: 1; 
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(55, 54, 54);
}

#contact-form textarea {
    padding: 10px;
    font-size: 16px;
    min-height: 80px;
    resize: vertical;
    border: 1px solid rgb(55, 54, 54);
}

.form-label {
    font-size: 12px;
    color: #c1bfbf;
}

.form-group {
    width: 100%;
}

input, textarea {
    background: #1c1c26;
    color: #c1bfbf;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

.btn-secondary {
    background: #e53950;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 0;
}
.map {
    flex: 1; 
    min-height: 400px;
    border-radius: 12px;
    border: 1px solid rgb(55, 54, 54);
    padding: 20px;
    height: 200px;
    background: #1c1c26;
}

.map-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.map-wrapper {
    border-radius: 12px;     
    overflow: hidden;        
    display: block;
    width: 100%;
    height: 300px;
}


@media (max-width: 768px) {
  .contact-container {
      flex-direction: column;
  }

  .form-row {
      flex-direction: column;
  }
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 15px;
    margin-top: 40px;
}

.footer-left p {
    margin: 5px 0;
    color:#afadad;
    margin-bottom: 40px;
}

.footer-right {
    display: flex;
    gap: 6px;
    align-items: center;
}

.footer-right .social-link {
    color:#afadad;
    text-decoration: none;
    position: relative;
}

.footer-right .social-link:not(:first-child)::before {
    content: "•";
    font-size: 10px;   
    margin-right: 4px;
    color: #ccc;       
    line-height: 1;
    position: relative;
    top: -1px;        
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-right {
    text-align: left;
  }
}



.contact-line span {
    position: relative;
        color: #fff;

}

.contact-line .phone::before {
    content: "•";
    font-size: 10px;   
    color: #ccc;       
    margin-right: 6px;
    position: relative;
    top: -1px;         
}

/* --- POPUP --- */
#popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#popup {
    background: #1c1c26;
    padding: 30px;
    width: 350px;
    border-radius: 14px;
    position: relative;
}

#popup-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
    cursor: pointer;
}








/* --- MEDIA QUERIES (TABLET AND UP) --- */
/* @media only screen and (min-width: 768px) {
    .container {
        max-width: 960px;    
        padding: 0 40px;
    }
    .header-nav {
        padding: 10px 40px;
    }
    .logo {
        font-size: 16px;        
        font-weight: 700;        
        color: #ffffff;
        letter-spacing: 1.5px;    
        cursor: pointer;
    }
    .nav-list {
        gap: 25px;
    }
    h1 {
        font-size: 40px;
        font-weight: 1000;
    }
    .hero-content {
        padding: 80px 120px;
        gap: 30px;
    }
    table {
        margin: 40px auto;
        margin-bottom: 100px;
    }
    .members {
        flex-direction: row;
        gap: 40px;
        padding: 40px;
        margin-bottom: 40px;
    }
    .member-card img {
        height: 200px;
        width: 260px;
    }
    .story {
        padding: 50px 0;
    }
    .story-img {
        float: right;      
        width: 40%;          
        margin-bottom: 30px;
        height: 37vh;
    }
    .contacts-title {
        padding-top: 50px;
    }
    .contact-container {
        flex-direction: row;
        gap: 40px;
    }
    .form-row {
        flex-direction: row;
    }
    .map {
        min-height: 400px;
        height: 200px;
    }
    .map-wrapper {
        height: 300px;
    }
    .footer-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .footer-right {
        text-align: left;
    }
}

/* --- MEDIA QUERIES (DESKTOP AND UP) --- */
/* @media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 120px;
    }
    .header-nav {
        padding: 20px 190px;
    }
    .members {
        gap: 120px;
    }
} */ 